@import "config/config.scss";

﻿body {
    background-color: darkgreen;
}

button {
    color: yellow;
    background-color: darkblue;
}

#top {
    height: 64px;
    background-color: $map46_bg;
}

#bottom {
    background-color: $map46_bg;
}

#main {
    background-color: $map46_bg;
}

#menu {
    background-color: $map46_bg;
}

#nav {
    color: white;
    background-color: gray;
}

/* ======================================================================== */

/* turn off the opacity sliders */
.layerswitcher-opacity {
    display: none;
}

.mappage {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 1024px;
    height: 768px;
}

.mapcolumn {
    border: 2px solid green;
}

.ore-map {
    width: 1024px;
    height: 768px;
    z-index:30;
}

.wm-switcher {
    position: relative !important;
    right: 0px !important;
    top: 0px !important;
}

/* ======================================================================== */

#app {
    padding: 0px;
    margin: 2px;
    margin-left: 0px;
}

.container {
    resize: both;
}

.navbar {
    padding: 1px;
}

.nav-item {
    padding: 3px;
}

/* ======================================================================== */

/* Define the size and position in the css */
.ol-compassctrl.left {
    bottom: 0;
    left: 30;
    width: 80px;
    height: 80px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

#sitelogo {
    content: url("./assets/county_sea_lion.png");
    width: 64px;
    height: 64px;
    margin: 1px;
}

#sitename:before {
    content: "Clatsop County Webmaps";
    font-size: 30pt;
    margin: 10px;
    vertical-align: top;
}
